<?xml version="1.0"?>
<!--
/**
* Scandiweb_SocialLogin
*
* @category    Scandiweb
* @package     Scandiweb_SocialLogin
* @author      Viktors Vipolzovs <info@scandiweb.com>
* @copyright   Copyright (c) 2016 Scandiweb, Ltd (http://scandiweb.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Scandiweb\SocialLogin\Api\CustomerRepositoryInterface"
                type="Scandiweb\SocialLogin\Model\ResourceModel\CustomerRepository"/>
    <preference for="Scandiweb\SocialLogin\Api\CustomerProviderRepositoryInterface"
                type="Scandiweb\SocialLogin\Model\ResourceModel\CustomerProviderRepository"/>
    <preference for="Scandiweb\SocialLogin\Api\Data\CustomerProviderInterface"
                type="Scandiweb\SocialLogin\Model\Data\CustomerProvider"/>
    <preference for="Magento\Customer\Controller\Account\Logout"
                type="Scandiweb\SocialLogin\Controller\Account\Logout"/>

    <type name="Scandiweb\SocialLogin\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Scandiweb\SocialLogin\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SocialLoginLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Scandiweb\SocialLogin\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>